

h1 {
    text-align: center;
    font-size: 60px;
}  

h3 {
    text-align: center;
    font-size: 20px;
}

#headline {
    /* background-color: #ccc; */
    text-align: center;
    padding: 30vmin 0;
}



#img_div {
    /* background-color: chocolate; */
    font-size: 40px;
    height: 80vmin;
    width: auto;
    text-align: center;
    z-index: 1;
    margin: 10px;
}

#img {
    height: auto;
    width: auto;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.clean{
    clear:both;
}

#container {
    /* background: #249ff1; */
    min-width: 300px;
    width: auto;
    height: auto;
    margin: 10px;
    font-size: 100%;
    z-index: 2;
    margin: 10px;
}

i {
    font-size :22px;
}  

#selection {
    width: auto;
    padding-left: 5%;
    margin: 10px;
    width: 30%;
}

select {
    vertical-align: middle;
    height: 32px;
    font-size: 20px;
    border: 1px solid #ccc;
    text-align: center;
}
  
select option {
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}
  
#switch_img {
    width: auto;
    height: auto;
    text-align:right;
    width: 30%;
}

button {
    vertical-align: middle;
    min-width: 40px;
    min-height: 30px;
    border: 2px solid #ccc;
    background-color: #e7e7e7;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    
}


button:hover {
    min-width: 40px;
    min-height: 30px;
    border-radius: 2px;
    background-color: #4d4d4d;
  }